.skillset
  .select2-container--default.select2-container--focus
  .select2-selection--multiple,
.skillset .select2-container--default .select2-selection--multiple {
  border: 1px solid rgba(0, 0, 0, 0.09);
  min-height: 60px;
  height: auto;
}

.skillset
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  padding: 10px;
  background: #eee;
  margin: 10px 10px 0 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border: 0;
  color: #666;
}

.skillset
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  font-weight: lighter;
  margin-right: 0;
  font-size: 20px;
  margin-left: 10px;
}

.skillset
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  padding: 0 10px 10px 10px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.suggested-skills ul {
  display: flex;
  flex-wrap: wrap;
}

.suggested-skills ul li {
  background: #fff;
  color: #666;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 8px 15px;
  margin: 10px 10px 0 0;
  font-size: 13px;
}

.suggested-skills ul li a {
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggested-skills ul li a i {
  margin-left: 10px;
}

/*user-info-page chng*/

.user-info-page .nav-tabs li .nav-link {
  padding: 0.8rem 2rem;
}

.user-info-page .nav-tabs li.active .nav-link {
  padding: 1rem 2rem;
}

/*purchase-history*/

.purchase-history {
  text-align: left;
  display: flex;
  position: relative;
  margin: 0;
  padding: 15px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  background-color: #fff;
  align-items: center;
}

.purchase-history .product-thumbnail {
  text-align: center;
  font-size: 20px;
  width: 10% !important;
}

.purchase-history .product-name {
  width: 40% !important;
}

.purchase-history .product-name a {
  font-size: 15px;
}

.purchase-history .product-name a small {
  font-size: 11px;
  color: #717171;
}

.purchase-history table.cart td {
  padding: 20px 10px;
}

/*hashtag*/

.hashtag-section {
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  padding: 20px;
  background-color: #fff;
}

.hashtag-section .hashtag-icon {
  width: 80px;
  margin-right: 20px;
}

.hashtag-section .hashtag-content {
  padding-top: 5px;
}

.hashtag-section .hashtag-content h3 {
  margin: 0;
  font-size: 20px;
  line-height: 15px;
}

.hashtag-section .hashtag-content p {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}

.hashtag-section .hashtag-content a {
  display: block;
  color: #ed553b;
  border: 1px solid #ed553b;
  border-radius: 50px;
  padding: 5px 10px;
  text-align: center;
  transition: all ease-in-out 0.3s;
  margin-top: 5px;
}

.hashtag-section .hashtag-content a:hover {
  background-color: #ed553b;
  transition: all ease-in-out 0.3s;
  color: #fff !important;
}

.hashtag-section-2 {
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  padding: 20px;
  background-color: #fff;
}

.hashtag-section-2 .hashtag-icon i {
  background-color: var(--primaryColor);
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.hashtag-section-2 .hashtag-content {
  flex-grow: 1;
}

/* .hashtag-section-2 .hashtag-content .hashtag-content-left {
  padding-top: 5px;
} */

.hashtag-section-2 .hashtag-content .hashtag-content-left h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  color: #000;
}

.hashtag-section-2 .hashtag-content .hashtag-content-left span {
  display: block;
  opacity: 0.5;
  margin: 5px 0 0;
  line-height: 1;
  color: #000;
}

.hashtag-section-2 .hashtag-content a {
  display: block;
  color: var(--greenColor);
  border: 1px solid var(--greenColor);
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.hashtag-section-2 .hashtag-content a:hover {
  background-color: var(--greenColor);
  transition: all ease-in-out 0.3s;
  color: #fff !important;
}

/*right sidebar*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

/* .modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	} */

/*Right*/

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */

.filter-modal .modal-content {
  border-radius: 0;
  border: none;
}

.filter-modal .modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fff;
  flex-flow: row-reverse;
  align-items: center;
}

.filter-modal .modal-header .close {
  font-size: 2rem;
  font-weight: 300;
  line-height: 0;
  opacity: 0.2;
}

.filter-modal .modal-header .close:focus {
  outline: 0 !important;
}

.filter-modal .modal-header h3 {
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  line-height: 1;
}

.filter-modal .modal-body {
  max-height: calc(100vh - (60px+60px+10px));
  overflow-y: scroll;
}

.filter-modal .modal-body .custom-checkbox {
  padding: 15px 15px 15px 1.8rem;
}

.filter-modal .modal-body .custom-checkbox + .custom-checkbox {
  border-top: 1px solid #eee;
}

.filter-modal .modal-body .custom-checkbox .custom-control-label::before,
.filter-modal .modal-body .custom-checkbox .custom-control-label::after {
  left: -1.8rem;
}

.filter-modal .modal-footer .btn {
  background-color: var(--greenColor);
  padding: 0.533rem 2rem;
}

/*course-list*/

.list-dropdown > li > a {
  /* min-width: 350px; */
  padding: 0 !important;
}

.list-dropdown .btn {
  background-color: var(--greenColor);
  border: var(--greenColor);
}

.course-list {
  display: flex;
  padding: 15px;
}

.course-list--img {
  border-radius: 4px;
  width: 100px;
  /* height: 64px; */
  overflow: hidden;
  position: relative;
}

.course-list--img img {
  width: 100%;
}

.course-list--info {
  padding-left: 10px;
  width: 192px;
}

.course-list--title {
  display: block !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 5rem;
  margin-bottom: 0.2rem;
  line-height: 18px;
}

.course-list--start {
  color: var(--greenColor);
  /* font-weight: 600; */
}

.course-list--progress {
  margin-top: 10px;
}

.course-list--progress .progress {
  background-color: #e9ecef;
}

/*notification-list*/

.notification-list .course-list--img {
  width: 62px;
}

.notification-list .course-list--img img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  color: #fff;
  width: 62px;
  height: 62px;
}

.notification-list .notification--time {
  color: #73726c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .course-list--title {
  -webkit-line-clamp: 2;
  max-height: 3.4rem;
  margin-bottom: 0.2rem;
}

.ls-btn {
  height: 45px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.ls-btn:hover {
  transition: all ease-in-out 0.3s;
}

.ls-btn-greenOutline {
  border: 1px solid var(--greenColor);
  color: var(--greenColor);
}

.ls-btn-greenOutline:hover {
  color: #fff;
  background-color: var(--greenColor);
}

.ls-btn-green {
  background-color: var(--greenColor);
  color: #fff;
}

.ls-btn-green:hover {
  background-color: #1f9452;
  color: #fff;
}

.ls-btn-blue {
  background-color: var(--primaryColor);
  color: #fff;
}

.ls-btn-blue:hover {
  background-color: #0469dd;
  color: #fff;
}

.ls-btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.ls-btn-danger:hover {
  background-color: #e25663;
  color: #fff;
}

.ls-btn-orange {
  background-color: var(--orangeColor);
  color: #fff;
}

.ls-btn-orange:hover {
  background-color: #df472d;
  color: #fff;
}

.ls-btn-secondary {
  background-color: var(--secondaryColor);
  color: #fff;
}

.ls-btn-secondary:hover {
  /* background-color: #df472d; */
  color: #fff;
}

/*micro-learning*/

.micro-learning {
  background-color: #fff;
  background-size: cover;
  position: relative;
  /* margin-bottom: 35px; */
  background-position: center center;
  transform: translateY(0);
  transition: all ease-in-out 0.3s;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
}

.micro-learning.style-3 {
  background-color: #ed553b;
}

.micro-learning.style-2 .micro-learning--header::before,
.micro-learning.style-3 .micro-learning--header::before {
  display: none;
}

.micro-learning.style-2:before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.4;
}

.micro-learning.style-2 * {
  position: relative;
  z-index: 1;
}

.micro-learning.style-2 .micro-learning--body h3,
.micro-learning.style-2 .micro-learning--body p,
.micro-learning.style-3 .micro-learning--body h3,
.micro-learning.style-3 .micro-learning--body p {
  color: #fff;
}

.micro-learning--header {
  height: 150px;
  position: relative;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.micro-learning--header .course-tag {
  background-color: #ed553b;
  color: #fff;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
}

.micro-learning--header .responses {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 600;
}

.micro-learning--header * {
  position: relative;
  z-index: 1;
}

.micro-learning--header::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.4;
}

.micro-learning--header .icon-outer i {
  color: #fff;
  font-size: 16px;
}

.micro-learning--body {
  padding: 15px;
  text-align: left;
}

.micro-learning--body h3 {
  letter-spacing: normal;
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 16px;
  line-height: normal;
  text-transform: none;
}

.micro-learning--body p {
  font-size: 13px;
  margin: 0;
  line-height: 23px;
}

.micro-learning--footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.micro-learning--footer ul li {
  width: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  background: #f1f1f1;
  color: #000;
}

.micro-learning--footer ul li + li {
  /* border-left: 1px solid #eee; */
  margin-left: 0;
  background: #f04646;
  color: #fff;
}

.micro-learning--footer ul li i {
  margin-right: 8px;
}

.micro-learning--footer ul li i.fas.fa-heart {
  color: #fff;
}

/*colors*/

.micro-learning.color-style1 .micro-learning--header .course-tag {
  background-color: var(--primaryColor);
}

.micro-learning.color-style2 .micro-learning--header .course-tag {
  background-color: var(--greenColor);
}

.micro-learning.color-style3 .micro-learning--header .course-tag {
  background-color: #fff;
  color: var(--primaryColor);
}

.micro-learning.color-style4 .micro-learning--header .course-tag {
  background-color: #fff;
  color: var(--greenColor);
}

/************************************************************** overwrite css *************************************************/

/*about*/
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

/*global*/
a,
a:hover,
a:focus {
  color: var(--greenColor);
}

.btn {
  border-radius: 4px;
}

.btn-primary:hover,
.btn-dark:hover {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
}

.btn-green {
  background-color: var(--greenColor);
  border-color: var(--greenColor);
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  padding: 1rem 3rem;
}

.btn-green:hover {
  color: var(--greenColor);
  background-color: #fff;
}

.btn-primary {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  padding: 1rem 3rem;
}

.btn-primary:hover {
  color: var(--primaryColor);
  background-color: #fff;
}

.nav-tabs li.active .nav-link,
.nav-tabs li.active .nav-link:hover,
.nav-tabs li.active .nav-link:focus {
  border-top: 3px solid var(--primaryColor) !important;
}

.nav-tabs li.active .nav-link {
  color: var(--primaryColor);
}

/*footer*/
.list li {
  font-size: 13px;
}

#footer a:not(.btn),
#footer .footer-copyright p {
  font-size: 12px;
}

#footer .btn {
  background-color: var(--greenColor);
  color: #fff;
  border-radius: 4px;
}

/*more-info*/
.tab-content .button-group {
  border-top: 0;
  padding: 15px 20px;
  margin: 1.5rem -1.5rem -1.5rem;
  background-color: #deedff;
}

.user-info-page .tab-pane {
  height: 355px;
  padding-right: 20px;
}

.user-info-page .success-msg {
  height: 100%;
  text-align: center;
}

.user-info-page .success-msg .btn-orange:hover {
  border-color: #ed553b;
}

.user-info-page .form-control-lg,
.user-info-page .input-group-text {
  font-size: 14px;
  height: 42px !important;
}

/*download-app*/
.download-app {
  margin-top: 50px;
}

.download-app--btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.download-app--btn img {
  width: 49%;
}

.download-app--btn img + img {
  margin-left: 2%;
}

/*people to meet*/
.primary-user-box {
  background-color: #fff;
  background-size: cover;
  position: relative;
  background-position: center center;
  transform: translateY(0);
  transition: all ease-in-out 0.3s;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
}

.primary-user-box--header {
  height: 100px;
  position: relative;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  z-index: -1;
}

.primary-user-box--header::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.4;
}

.primary-user--img {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 3px solid #fff;
}

.primary-user--img img {
  width: 100px;
  object-fit: cover;
  height: 100px;
  border-radius: 50%;
}

.primary-user-box--body {
  padding: 0 15px 15px;
  text-align: center;
  margin-top: -50px;
  z-index: 1;
}

.primary-user-box--body h3 {
  letter-spacing: normal;
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 16px;
  line-height: normal;
  text-transform: none;
}

.primary-user-box--body p {
  font-size: 13px;
  margin: 0;
  line-height: 10px;
}

.primary-user-box--footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #eee;
}

.primary-user-box--footer ul li {
  width: calc(100% / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  background: transparent;
  color: #000;
}

.primary-user-box--footer ul li + li {
  margin-left: 0;
  border-left: 1px solid #eee;
}

.primary-user-box--footer ul li i {
  margin-right: 8px;
}

.primary-user-box--footer ul li i.fas.fa-heart {
  color: #f04646;
}

.primary-user-box a.outline {
  background-color: transparent;
  border: 1px solid var(--greenColor);
  color: var(--greenColor);
}

.primary-user-box a.outline:hover {
  background-color: var(--greenColor);
  border: 1px solid var(--greenColor);
  color: #fff;
}

/*activities*/
.activity-box ul li a {
  padding: 2px 10px;
  border: 0;
  font-size: 12px;
}

/*notification*/
.notification {
  display: flex;
  padding: 15px;
  border: 1px solid #eee;
  z-index: 2;
  margin: 0;
  box-shadow: none;
}

.notification--img .icon img {
  width: 50px;
  display: block;
  border: 1px solid #eee;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.notification .notification--content {
  padding-left: 15px;
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.notification .notification--content a.remove {
  color: #dc3545;
}

.notification-outer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 4px;
}

.notification-outer .notification--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 10px 15px;
  background-color: #f1f1f1;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-top: -10px;
  z-index: 1;
}

.notification-outer .notification--footer p {
  margin: 0;
  font-size: 13px;
  color: #000;
}

.notification-outer .notification--footer.invitation-intrest .button-group a {
  line-height: 1;
  padding: 5px 15px;
  font-size: 12px;
  border: 1px solid var(--greenColor);
  border-radius: 50px;
}

.notification-outer
  .notification--footer.invitation-intrest
  .button-group
  a.yes {
  background-color: var(--greenColor);
  color: #fff;
  margin-left: 5px;
}

.notification-outer
  .notification--footer.invitation-intrest
  .button-group
  a.no:hover {
  background-color: var(--greenColor);
  color: #fff;
}

/*course-post*/
.course-post {
  width: 100%;
  padding: 0 20px 20px;
}

.course-post--card {
  border: 1px solid #eee;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.course-post--img {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-post--img img {
  width: auto !important;
}

.course-post--title {
  padding: 15px;
  border-top: 1px solid #eee;
}

.course-post--title h3 {
  letter-spacing: normal;
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 16px;
  text-transform: none;
}

.course-post--title p {
  font-size: 13px;
  margin: 0;
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.6);
}

/*all-courses*/
.all-courses .course-thumbnail {
  margin-bottom: 29px !important;
}
.all-courses .course-thumbnail .star-rating i {
  color: #eee;
}

.all-courses .course-thumbnail .star-rating i {
  cursor: pointer;
}

.all-courses .course-thumbnail .star-rating i.active {
  color: #f6d55c;
}

/*follower*/
.follower .people-meet {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.follower .people-meet figcaption {
  display: flex;
  align-items: center;
}
.follower .people-meet figcaption a.remove {
  color: #000;
  border: 1px solid #ccc;
  margin: 0;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 1;
  border-radius: 4px;
  justify-content: center;
  font-size: 12px;
  padding: 0;
  width: 90px;
}

/*event-detail*/
.participants .people-meet {
  padding: 15px;
}
.participants .people-meet a {
  width: auto;
}
.participants--body {
  overflow: auto;
  height: 485px;
  margin: 0 -20px;
}
.primary-paragraph {
  text-align: justify;
}
.live-chat-content {
  height: auto;
  padding: 15px 15px 0 15px;
}
.live-chat-content .inbox-content-body {
  height: 433px;
}

/*course-content*/
.course-content .primary-box-header {
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #eee;
}
.course-content .primary-toggle {
  overflow-y: auto;
  height: calc(100vh - (70px + 46px + 68px + 2px));
}
.course-content .primary-toggle .toggle > label,
.course-content .primary-toggle .toggle > .toggle-title {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  background-color: #fff;
}
.course-content .primary-toggle .toggle + .toggle {
  margin-top: 0;
  border-top: 1px solid #eeee;
}

/*=========================== menu stick =========================*/
.business-body .category-bar {
  position: relative;
  top: 0;
}

.card-filters {
  position: sticky;
  top: 70px;
  z-index: 99;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  transition: all ease 0.3s;
}
.course-thumbnail:hover .course-thumbnail--overlay {
  opacity: 1;
  transition: 0.3s all ease-in-out;
  /* transform: translate3d(0, 0%, 0); */
}
.course-thumbnail--overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  background: rgba(0, 20, 54, 0.8);
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  justify-content: center;
  padding: 15px;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  /* transform: translate3d(0, 100%, 0); */
}

.course-thumbnail--overlay i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
}

.course-thumbnail--overlay h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: none;
  font-weight: 600;
}

.course-thumbnail--overlay p {
  color: #fff;
}

.course-thumbnail--overlay .host-info {
  display: flex;
  /* margin-top: 5px; */
  align-items: center;
  width: 100%;
}

.course-thumbnail--overlay .host-info img {
  border-radius: 50%;
  width: 40px;
  /* border: 1px solid #eee; */
  object-fit: cover;
  height: 40px;
  margin-right: 10px;
}

.course-thumbnail--overlay .host-info .wrap h3 {
  text-transform: none;
  font-size: 14px;
  margin: 0;
  line-height: 1;
}

.course-thumbnail--overlay .host-info .wrap p {
  font-size: 12px;
  line-height: 1;
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 0;
}
